* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#image {
    width: 10vw;
    border-radius: 50%;

}

#header {
    height: 25vh;
    display: flex;
    background-color: #F5DEB3;
}

#navigation {
    margin-top: 13vh;
    margin-left: 3vw;
    height: 5vh;
    width: 35vw;
    gap: 2vw;
    display: flex;
    align-items: center;
}

#image-container {
    margin-top: 1.5vh;
    margin-left: 3vw;
}

.nav {
    font-size: 16px;
    color: #87CEEB
}

#button {
    margin-top: 12vh;
    margin-left: 30vw;
}

#button button {
    width: 10vw;
    height: 6vh;
    font-size: 16px;
    font-weight: 600;
    background-color:;
    color: #87CEEB;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}